:root {
    --black: #1d1d1d;
    --white: #fff;
    --stronge-dark-blue: #1d1e33;
    --medium-blue: #322b80;
    --light-blue: #95cfff;
    --darkgrey: #3e3e51;
    --stronge-grey: #616071;
    --grey: #616071;
    --ligh-grey: #868592;
    --soft-grey: #adacb5;
    --lemon: #deff20;
    --yellow: #ffed00;
    --orange: #ff891b;
    --gradient-lemon-yellow: linear-gradient(90deg, #deff20 0%, #ff891b 100%);
    --gradient-dark: linear-gradient(90deg, #3e3e51 11%, #616071 49%, #3e3e51 90%);
    /* Propiedades de la fuente */
    --xsm: 12px;
    --sm: 14px;
    --md: 16px;
    --lr: 18px;
    --xlr: 20px
}

body {
    font-family: 'Quicksand', sans-serif;
    font-family: 'Sora', sans-serif;
    color: var(--grey);
    margin: 0;
    box-sizing: border-box;
}


/* Generales */

p {
    color: var(--ligh-grey);
    font-size: var(--md);
}

a {
    font-size: 1.2rem;
    font-weight: 100;
    text-align: center;
    text-decoration: none;
    color: var(--ligh-grey);
    cursor: pointer;
}

li {
    list-style: none;
}

.inactive {
    display: none;
}


/* Principal Menu Desktop */

#main-menu {
    position: absolute;
    z-index: 5;
    background: var(--stronge-dark-blue);
    padding: 0;
    width: 180px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    position: relative;
    width: 100%;
}

.nav-menu {
    width: 100%;
    margin: 100px 0;
    display: flex;
    flex-direction: column;
}

.nav-menu a {
    position: relative;
    width: 100%;
    line-height: 3rem;
    text-align: center;
    border-top: 1px solid var(--grey);
    transition: all 700ms;
}

.nav-menu a:hover {
    color: var(--lemon);
    box-shadow: 0 0 10px inset;
    transition: all 700ms;
}

.nav-menu :nth-child(4) {
    border-bottom: 1px solid var(--grey);
}

.scrolldown-container {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 6px;
    display: flex;
    justify-content: start;
}

.scrolldown-container p {
    font-size: var(--sm);
    font-weight: 100;
    padding-left: 6px;
    letter-spacing: 2px;
}

.scrolldown-container img {
    width: 25px;
    height: 25px;
    padding: 6px;
}


/* Menu en Desktop */

.desktop-menu {
    box-sizing: border-box;
    background: var(--stronge-dark-blue);
    height: 120px;
    width: 100%;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.desktop-logo img {
    height: 100px;
}

.desktop-social-container {
    display: flex;
    align-items: center;
}

.desktop-social-container ul {
    display: flex;
    padding: 0;
    margin: 0 12px;
}

.desktop-social-container li {
    margin: 0 16px;
    transition: transform 700ms;
}

.desktop-social-container li:hover {
    transform: scale(1.3);
    transition: transform 700ms;
}

.desktop-social-container img {
    width: 20px;
}

.icon-menu {
    display: flex;
    margin: 0 16px;
    border: 1px solid var(--soft-grey);
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
    transition: box-shadow 600ms;
}

.icon-menu:hover {
    box-shadow: 0 0 10px inset;
    transition: box-shadow 600ms;
}

.icon-menu img {
    width: 32px;
    transition: transform 600ms;
}

.icon-menu:hover img {
    transform: scale(1.1);
    transition: transform 600ms;
}


/* Mobile Menu */

.mobile-menu {
    background-image: linear-gradient(0deg, #616071 0%, #1d1e33 100%);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-logo {
    padding: 30px 0;
    width: 120px;
}

.close {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 25px;
    cursor: pointer;
    transition: transform 700ms ease-in-out;
}

.close:hover {
    transform: rotate(90deg);
    transition: transform 700ms ease-in-out;
}

.nav-mobile-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-top: 120px;
}

.nav-mobile-menu a {
    position: relative;
    width: 100%;
    line-height: 3rem;
    border-top: 1px solid var(--grey);
    transition: all 800ms;
}

.nav-mobile-menu a:nth-child(4) {
    border-bottom: 1px solid var(--grey);
}

.nav-mobile-menu a:hover {
    color: var(--lemon);
    box-shadow: 0 0 10px inset;
    transition: all 800ms;
}

.mobile-social-container {
    position: absolute;
    bottom: 10px;
}

.mobile-social-container ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.mobile-social-container li {
    margin: 0 10px;
    transition: transform 700ms;
}

.mobile-social-container img {
    width: 18px;
}

.mobile-social-container li:hover {
    transform: scale(1.4);
    transition: transform 700ms;
}


/* Right bar - Social */

#social-container {
    z-index: 5;
    width: 50px;
    height: 100vh;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#social-container ul {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding: 0;
    margin: 0;
}

#social-container li {
    margin: 12px 0;
}

#social-container img {
    position: relative;
    width: 18px;
    transition: all 600ms;
}

#social-container img:hover {
    transform: scale(1.2);
    transition: transform 500ms;
}

#social-container p {
    font-size: var(--xsm);
    letter-spacing: 2px;
    writing-mode: vertical-rl;
    padding: 20px 0;
    transition: padding 600ms;
}

#social-container p:hover {
    padding-top: 10px;
    padding-bottom: 30px;
    transition: all 600ms;
}


/* Section Home */

.home {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(19deg, #616071 0%, #1d1e33 100%);
}


/* Media Queries */

@media(max-width: 1200px) {
    #main-menu {
        display: none;
    }
    #social-container {
        display: none
    }
    .mobile-menu {
        display: none;
    }
}

@media(max-width:860px) {
    #social-container {
        display: none
    }
}

@media(min-width:1199px) {
    .mobile-menu {
        display: none;
    }
    .desktop-menu {
        display: none;
    }
}