:root {
    --black: #1d1d1d;
    --white: #fff;
    --grey: #F2F2F2;
    --dark-blue: #072142;
    --medium-blue: #322b80;
    --light-blue: #95cfff;
    --lemon: #deff20;
    --yellow: #ffed00;
    --orange: #ff891b;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-family: 'Sora', sans-serif;
    color: var(--grey);
    margin: 0;
}

#main-menu {
    position: absolute;
    background: var(--black);
    padding: 0;
    width: 180px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    position: relative;
    width: 90%;
}

.menu {
    position: relative;
    left: 0;
    width: 100%;
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu li {
    position: relative;
    margin: 0;
    width: 100%;
    list-style: none;
    padding: 12px 0;
}

.menu li a {
    padding: 0;
    margin: 0;
    font-weight: 200;
    color: var(--grey);
    text-align: center;
    text-decoration: none;
}